# Resend API Configuration
RESEND_API_KEY=p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCgEWTfgwaEx6KGV3kDgzK6fFOt+7svbVetZYNSAcm+e+QuEWruqpDa1/TE/EQ/4nZ406VHJNmwCjwFk4KJ2Bhqo/ymWEcbYsZWIecSqo8EajEnCaP3edYOX4okaxMI6DkWircARj8G0+wA8aSGhJdNOwG6Fo+/a8p9YhlDvlwhLQIDAQAB

# Email Configuration
CONTACT_FROM=contact@zebrapps.com
CONTACT_TO=yuval@zebrapps.com